.sales-card {
  font-family: "Inter", sans-serif;
}
.sales-card p,
.sales-card h2,
.sales-card a {
  font-family: "Inter", sans-serif;
}
.card-img {
  width: 100%;
  object-fit: cover;
}
.card-content {
  height: 40%;
  font-family: inherit;
  flex-direction: column;
  padding: 20px;
}
.card-content h2 {
  text-transform: uppercase;
  font-family: inherit;
  color: #555;
}
.card-content a {
  font-family: inherit;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 25px;
  background-color: #f04f5f;
  border-radius: 30px;
  display: inline-block;
}
.card-info {
  color: #555;
  border-top: #f1f1f1 solid 1px;
  border-bottom: #f1f1f1 solid 1px;
  padding: 4px 0;
  font-family: inherit;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-time i {
  margin-right: 2px;
}
.card-price {
  font-size: 28px;
  font-weight: 500;
  color: #f04f5f;
}
.card-price--sale {
  text-decoration: line-through;
  font-size: 24px;
  color: #9a9a9a;
  margin-right: 8px;
  font-weight: 400;
}
.sales-card .card-des {
  margin-bottom: 16px;
  font-weight: 300;
  color: #000;
}
