.hero-img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.section {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 24%,
    rgba(230, 230, 237, 1) 48%,
    rgba(228, 228, 238, 1) 80%,
    rgba(232, 249, 255, 1) 100%
  );
}
